################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediaStreamer/ClientApp/.env
/MediaStreamer.Data/obj
/MediaStreamer.Data/bin/Debug/net6.0
